@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body
{
background-color: #240229;
}
::-webkit-scrollbar {
    display: none;
}

html {
  scroll-behavior: smooth;
}

.text {
  font-family: Roboto;
  font-weight: 100;
  font-size: 17px;
  margin-top: 200px;
  opacity: 1;
  color: #FFF;
  margin-left: 680px;
  animation-delay: 0.7s;
}

.wrapper1 {
  height: 750px;
  width: 1535px;
  margin-top: 65px;
  background-color: #240229;
}

.wrapper2 {
  height: 750px;
  width: 1535px;
  margin-top: 100px;
  background-color: #240229;
}

.uw {
  font-size: 70px;
  font-family: Roboto;
  font-weight: 700;
  color: #fff;
  position: absolute;
  margin-left: 92px;
  padding-top: 310px;
}

.uw2 {
  font-size: 70px;
  font-family: Roboto;
  font-weight: 700;
  color: #fff;
  margin-left: 440px;
  padding-top: 310px;
}

.arrow
{
	position: absolute;
	width: 1.27rem;
	height: 1.27rem;
  margin-left: 700px;
  margin-top: 70px;
	animation-delay: 0.9s;
}

.arrow span
{
  top: -3.37rem;
  position: absolute;
  width: 0.78rem;
  height: 0.1rem;
  background-color: #efefef;
}

.arrow span:first-of-type {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.arrow span:last-of-type {
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow1
{
	position: absolute;
	width: 1.27rem;
	height: 1.27rem;
  margin-left: 807px;
  margin-top: 70px;
	animation-delay: 0.9s;
}

.arrow1 span
{
  top: -3.37rem;
  position: absolute;
  width: 0.78rem;
  height: 0.1rem;
  background-color: #efefef;
}

.arrow1 span:first-of-type {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.arrow1 span:last-of-type {
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow2
{
	position: absolute;
	width: 1.27rem;
	height: 1.27rem;
  margin-left: 700px;
  margin-top: 80px;
	animation-delay: 1.1s;
}

.arrow2 span
{
  top: -3.37rem;
  position: absolute;
  width: 0.78rem;
  height: 0.1rem;
  background-color: #efefef;
}

.arrow2 span:first-of-type {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.arrow2 span:last-of-type {
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow3
{
	position: absolute;
	width: 1.27rem;
	height: 1.27rem;
  margin-left: 807px;
  margin-top: 80px;
	animation-delay: 1.1s;
}

.arrow3 span
{
  top: -3.37rem;
  position: absolute;
  width: 0.78rem;
  height: 0.1rem;
  background-color: #efefef;
}

.arrow3 span:first-of-type {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.arrow3 span:last-of-type {
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}


.loader
{
	position: relative;
	width: 200px;
	height: 200px;
  margin-left: 661px;
  margin-top: 250px;
  justify-content: center;
	border-radius: 50%;
	background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
	animation: animate 1.8s linear infinite;
}
@keyframes animate
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

.loader span
{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

.loader span:nth-child(1)
{

	filter: blur(10px);
}

.loader span:nth-child(2)
{
	filter: blur(20px);
}

.loader span:nth-child(3)
{
	filter: blur(35px);
}

.loader span:nth-child(4)
{
	filter: blur(60px);
}

.loader:after
{
	content: '';
  position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: #240229;
	border-radius: 50%;
}
